@import "bootstrap/dist/css/bootstrap.min.css";
@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  box-sizing: border-box;
}
